.container-fluid{
  height: 100vh;
  background-image: url(../img/back.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;

  font-family: 'Special Elite';
}

* a{
  text-decoration: none;
  color: black;
}

* a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: .3s ease-in-out;
}

@media (max-width: 700px) {



}

@keyframes flicker {
	0%, 19.999%, 22%, 40.999%, 50%, 62.999%, 64%, 64.999%, 70%, 74.999%, 80%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 41%, 49.999%, 63%, 63.999%, 65%, 69.999%, 75%, 79.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}

.navigation{
  position: fixed;
  z-index: 999;
  top: 10em;
  left: 25em;
}

.navigation li{
  width: 100%;
}

.slideLeft{
  left: 3em;
  transition: 1s ease-in-out;
}

.slideLeft li{
  width: 0;
  transition: 2s ease-in-out;
}

.slideRight{
  left: 25em;
  transition: .5s ease-in-out;
  transition-delay: .2s;
}

.slideRight li{
  width: 100%;
  transition-delay: none;
  transition: .5s ease-in-out;
}

.navigation ol{
  list-style: none;
}

.navigation ol li{
  padding-top: 3em;
}

.wrapper-menu{
  float: right;
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 1.5em;
  margin-right: 3em;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-image: url('../img/menuLine.png');
  background-size: cover;
  background-position: center;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


.rotate{
  transform: rotate(-90deg);
  transition: .5s ease-in-out;
}

.reverse{
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.title{
  margin-top: 25%;
}

.titleSlide{
  margin-left: -1em;
  transition: 1s ease-in-out;
}

.titleReverse{
  margin-left: 0em;
  transition: 1s ease-in-out;
  transition-delay: .5s;
}

.flickr{
		animation: flicker 3s linear infinite;
}

.title h1{
  font-size: 6em;
}

.title h5{
  margin-top: -1.5em;
  font-size: 2em;
}
