/*  Animations Keyframes & Fonts    */


@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Light.otf") format("opentype");
}

@font-face {
  font-family: 'DosisB';
  src: url("../fonts/Dosis-Bold.otf") format("opentype");
}

/*   END   */

/*   Basic Structure Body Container etc.   */

*{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

* a{
  text-decoration: none;
  color: white;
}

* a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.intro{
  height: auto;
  height: 100vh;
  overflow-y: scroll;
  background-image: url(../Images/main.png);
  background-position: center 5em;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Dosis';
}

.navigation{
  position: fixed;
  z-index: 999;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 15vw;
}

.navigation ol{
  display: inline-block;
}

.navigation ol li{
  list-style: none;
  font-family: 'Dosis';
  display: block;
}

li h4{
  margin-top: 2.5em;
}

.red{
  color: #d82d2d;
}

.gray{
  color: #333333;
}

.anchor{
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 57%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 57%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,0) 54%,rgba(255,255,255,0) 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  z-index: 9999;
}

.anchor h4{
  font-family: 'DosisB';
}

.anchor li:hover h4{
  transform: rotate(360deg);
  transform-origin: left;
  transition: .3s ease-in-out;
}

.description h4:hover{
  color: #d82d2d!important;
}

.slideLeft{
  left: -500px;
  z-index: 0;
  transition: 1s ease-in-out;
}

.slideRight{
  left: -50px;
  transition: 1s ease-in-out;
}

.header{
  height: 50em;
  color: black;
}

.title{
  font-family: 'Dosis';
  /* color: #d82d2d; */
}

.tagline h1{
  margin-top: 1.7em;
  font-size: 6em;
  overflow: hidden;
}

.about{
  height: auto;
  background-color: #333333;
  color: white;
  left: 1.7em;
}

.about p{
  margin-top: 3em;
  font-size: 2em;
  margin: 3em;
}

.about h2{
  margin-top: 5em;
  font-family: 'DosisB';
}

.productsIntro{
  height: 25em;
  color: black;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../Images/logo.png);
}

.productsIntro h3{
  margin-top: 1.5em;
  font-size: 4em;
  color: black;
  font-family: 'Dosis';
  overflow: hidden;
}

.products{
  background-color: white;
  margin-bottom: -1em;
}

.service{
  height: 39em;
}

.design{
  background-image: url(../Images/design.jpg);
  background-size: cover;
  margin: 10em;
  margin-top: 0em;
}

.develop{
  background-image: url(../Images/develop.jpg);
  background-size: cover;
  margin: 10em;
}

.innovate{
  background-image: url(../Images/innovate.jpg);
  background-size: cover;
  margin: 10em;
}

.consult{
  background-image: url(../Images/consult.jpg);
  background-size: cover;
  margin: 10em;
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.overlay h1{
  color: white;
  margin-top: 20%;
}

.contact{
  height: 35em;
  background-image: url(../Images/hq.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  left: 1.9em;
}

.over{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.over h3{
    margin-top: 5em;
    font-size: 4em;
    font-family: 'Dosis';
    overflow: hidden;
}

.closing{
    height: 25em;
    color: #d82d2d;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../Images/axe.jpg);
}

.closing h3{
  margin-top: 2em;
  font-size: 4em;
  color: black;
  font-family: 'Dosis';
  overflow: hidden;
}

.footer{
  height: 10em;
  background-color: black;
  color: white;
}

.footer h1{
  margin-top: 1em;
}

::-webkit-scrollbar {
    display: none;
}


@media (max-width: 786px) {
  .about{
    left: 0;
  }

  .tagline h1{
    font-size: 4em;
  }

  .productsIntro .red{
    color: black;
  }

  .productsIntro{
    text-align: center;
  }

  .service{
    margin: 1em;
    height: 21em;
  }

  .contact{
    height: 29em;
    left: 0;
  }

  .contact h3{
    font-size: 4em;
    margin-top: 0em;
    overflow: hidden;
  }

  .closing{
    text-align: center;
  }

  .footer{
    height: 15em;
  }
}
